@import "../../mixins/_banner-image";
@import "../../mixins/_person-card";
@import "../../mixins/_pink-button";
@import "../../mixins/_section";
@import "../../util/sass-mixins";

section {
  max-width: var(--content-width);
}

h1 {
  margin-top: 0;
}

#execs-grid {
  display: flex;
  flex-flow: wrap;
  column-gap: 5%;
  row-gap: 1em;
  align-items: flex-end;
  margin: 60px 0;
}

.person-card {
  margin: auto;
  margin-bottom: 0;
  padding: 8px;
}

#locations-grid {
  display: flex;
  flex-flow: wrap;
  margin: auto;
  column-gap: 10%;
}

.location {
  margin: auto;
  $location-padding: 8px;
  padding: $location-padding;

  width: calc(45% - 2 * $location-padding);
  min-width: 300px;
  text-align: center;

  span {
    display: block;
    line-height: 1.5em;

    &.location-name {
      font-weight: bold;
    }
  }

  img {
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 16px;
    border-radius: 2px;
  }
}

form {
  label {
    display: block;
    margin: 1em 0;
  }

  $input-padding: 8px;

  input.text-input,
  select,
  textarea {
    display: block;
    box-sizing: content-box;
    padding: $input-padding;
    width: calc(100% - 2 * $input-padding);
  }

  textarea {
    min-height: 100px;
    resize: vertical;
  }

  #submit-container {
    text-align: center;
  }
}
