@import "../../util/variables";
@import "../../mixins/collapsible";

section {
  max-width: var(--content-width);
  margin: 30px auto;
  position: relative;

  iframe {
    width: 100%;
    height: 800px;
    border: none;
    overflow: hidden;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 300px);
    grid-auto-rows: 1fr;

    a {
      text-decoration: none;
    }

    .item {
      padding: 30px;
      text-align: center;

      .item-img {
        width: 100%;
        height: 100%;
        max-height: 200px;
        object-fit: contain;
      }

      .item-price {
        color: var(--mathsoc-pink);
      }
    }
  }
}
