extends /views/templates/frontend-base.pug
include /views/mixins/pink-button.pug

append styles
    link(href="/assets/css/pages/services/locker-signout.css" rel="stylesheet")  
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")

block body
    div(class="content")
        h1 #{data.title}
        section(class="two-cols")
            div(class="")
                p #{data.description}
                p #{data.subdescription}
                +pink-button("Sign out a locker", "lockerSignoutBtn", "/locker-signout")
            img(src=data.img)

        // Modal for confirmation
        div(id="confirmationModal" class="modal")
            div(class="modal-content")
                h2 Are you sure you want to sign out a locker?
                button(id="confirmBtn") Confirm
                button(id="cancelBtn") Cancel

        // Hidden form for locker signout
        form(id="lockerSignoutForm" action="/api/locker-signout/request" method="post" style="display: none;")
            input(type="hidden" name="userId" value="m3tan") 

        // Display assigned locker number or error message
        div(id="lockerNumberDisplay")

    // JavaScript for handling confirmation and AJAX request
    script.
        document.addEventListener('DOMContentLoaded', function() {
            var modal = document.getElementById('confirmationModal');
            modal.style.display = "none";
            var confirmBtn = document.getElementById('confirmBtn');
            var cancelBtn = document.getElementById('cancelBtn');
            var lockerNumberDisplay = document.getElementById('lockerNumberDisplay');

            // Show modal on click
            document.addEventListener('click', function(event) {
                if (event.target.matches('.pink-button')) {
                    event.preventDefault();
                    modal.style.display = "block";
                }
            });

            // Handle confirmation
            confirmBtn.onclick = function() {
                modal.style.display = "none";
                var userId = document.getElementById('lockerSignoutForm').elements['userId'].value;
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/api/locker-signout/request", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 201) {
                            var response = JSON.parse(xhr.responseText);
                            lockerNumberDisplay.textContent = "Your assigned locker number is: " + response.lockerNumber;
                        } else if (xhr.status === 404) {
                            var response = JSON.parse(xhr.responseText);
                            console.log(response.lockerNumber);
                            lockerNumberDisplay.textContent = "You already have a locker assigned. Locker Number: " + response.lockerNumber;
                        } 
                        else {
                            alert("Error: " + xhr.statusText);
                        }
                    }
                };
                var data = JSON.stringify({"userId": userId});
                xhr.send(data);
            };

            // Close modal on cancel or outside click
            cancelBtn.onclick = function() { modal.style.display = "none"; }
            window.onclick = function(event) {
                if (event.target == modal) { modal.style.display = "none"; }
            }
        });
