extends /views/templates/frontend-base.pug
include /views/mixins/pink-button.pug

append styles
    link(href="/assets/css/pages/services/locker-signout.css" rel="stylesheet") 

block body
    div(class="content")
        h1 Locker signout success