extends /views/templates/frontend-base.pug
include /views/mixins/pink-button.pug

append styles
    link(href="/assets/css/pages/services/locker-signout.css" rel="stylesheet")  
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")

block body
    div(class="content")
        h1 #{data.title}
        section(class="two-cols")
            div(class="")
                p #{data.description}
                p #{data.subdescription}
                +pink-button("Sign out a locker", "lockerSignoutBtn", "/locker-signout")
            img(src=data.img)

    // Modal
    div(id="confirmationModal" class="modal")
        div(class="modal-content")
            h2 Are you sure you want to sign out a locker?
            button(id="confirmBtn") Confirm
            button(id="cancelBtn") Cancel

    // JavaScript
    script.
        document.addEventListener('DOMContentLoaded', function() {
            var modal = document.getElementById('confirmationModal');
            modal.style.display = "none";
            var confirmBtn = document.getElementById('confirmBtn');
            var cancelBtn = document.getElementById('cancelBtn');

            document.addEventListener('click', function(event) {
                if (event.target.matches('.pink-button')) {
                    event.preventDefault();
                    modal.style.display = "block";
                }
            });

            confirmBtn.onclick = function() {
                modal.style.display = "none";
                // perform your action here...
            }

            cancelBtn.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
