extends /views/templates/frontend-base.pug
include /views/mixins/pink-button.pug

append styles
    link(href="/assets/css/pages/services/locker-signout.css" rel="stylesheet")  
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")

block body
    div(class="content")
        h1 #{data.title}
        section(class="")
            div(class="")
                p #{data.description}
                button(class="pink-button")
                    i(class="fas fa-lock")
                    | Sign out a locker