extends /views/templates/frontend-base.pug

append styles
  link(href="/assets/css/pages/resources/exam-bank.css" rel="stylesheet")

append scripts
  script(src="/assets/js/exam-bank.js" defer)

block body 
  +banner-image("/assets/img/banners/mathsoc-wall.jpeg", ['grey'], 'Exam Bank')
  div(id="content")
    div(id="exam-bank-searchbar")
      label(id="exams-search-label") Filter for your exam then find it in the list below
      input(id="exam-list-filter" placeholder="CS 136" aria-labelledby="exams-search-label")

    +exam-bank-table(false)
