extends /views/templates/frontend-base.pug

append styles
    link(href="/assets/css/pages/resources/important-links.css" rel="stylesheet")

//- append scripts 
//-     script(src="/assets/js/")

block body 
    div(class="content")
        section 
            h1 #{data.title}
            each link in data.links
                a(href=link.link target="_blank")
                    h2 #{link.title}
