doctype html
html(lang="en")
    head 
        title Mental Wellness &#8211; MathSoc
        include /views/partials/header.pug

    body
        include /views/partials/navbar.pug

        h3(class="subheader") #{wellness.subheader}

        include /views/partials/footer.pug

  
