/logs
/node_modules
/public/assets/css
/public/assets/js
/public/assets/img/uploads
/public/assets/documents
/public/assets/img/cartoons/uploads
/public/exams
/server/data/_hidden/*

.env
*.tsbuildinfo
backups/
