/logs
/node_modules
/public/assets/css
/public/assets/js
/public/assets/img/uploads
/public/assets/img/cartoons/uploads
/public/exams
/server/data/_hidden/cartoons-list.json
/server/data/_hidden/exams-list.json
/server/data/_hidden/term-list.json
.env
*.tsbuildinfo
backups/
