h2 {
  margin-top: 1em;
  font-size: 2em;
}

hr {
  margin: 25px 0px;
  box-shadow: none;
  border: 2px solid var(--mathsoc-grey);
}

#add-exams-editor {
  #hidden-exam-upload {
    display: none;
  }

  #pending-exams-list {
    padding-left: 0;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 32px;

    button {
      flex-grow: 1;
      padding: 16px;
      background-color: var(--mathsoc-pink);
      color: white;
      cursor: pointer;

      &:hover {
        background-color: var(--mathsoc-pink-2);
      }

      &.disabled {
        pointer-events: none;
        background-color: var(--mathsoc-grey-2);
      }
    }
  }

  .pending-exam-item {
    padding: 8px;
    border: 1px solid var(--mathsoc-pink);
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 16px 0;

    .file-name {
      width: 20%;
      padding-right: 2em;
      font-weight: bold;
      word-wrap: break-word;
    }

    .exam-data {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 12px;
    }

    input {
      width: 100%;
      margin: auto;

      &.invalid {
        border: 2px solid red;
      }
    }

    label {
      font-size: 0.8em;
    }

    .remove-upload-btn {
      label {
        display: none;
      }

      button {
        width: max-content;
        cursor: pointer;

        background-color: transparent;
        transition: background-color 0.1s ease-in-out;
        &:hover {
          background-color: var(--mathsoc-pink-4);
        }
      }
    }
  }
}
