@import "../util/sass-mixins";

#editor-nav-menu {
  position: absolute;
  left: 0;
  padding-left: 16px;

  #side-menu-title {
    font-size: 1.2em;
  }

  ul {
    padding-left: 0;
  }

  > ul {
    ul {
      padding-left: 16px;
      border-left: 2px solid var(--mathsoc-pink);
    }
  }

  a {
    text-decoration: none;

    color: var(--text-color);

    &:hover {
      color: var(--mathsoc-pink);
    }
  }

  li {
    list-style-type: none;
    line-height: 2em;

    &.active-page a {
      color: var(--mathsoc-pink);
    }
  }

  .dropdown {
    .dropdown-name {
      cursor: pointer;
      // color: #777;
    }

    > ul {
      display: none;
    }

    &:hover {
      color: var(--mathsoc-grey);
    }

    &.active {
      > ul {
        display: block;
      }
    }
  }
}

.jsoneditor .jsoneditor-value.jsoneditor-string {
  &.highlighted-markdown-field,
  &.hoverable-markdown-field:hover {
    background: #df249829;
    border: 1px dashed var(--mathsoc-pink);
  }
}

.editor-name {
  font-weight: bold;
}

@include tablet-down {
  #editor-menu-and-body {
    display: flex;
    flex-direction: column-reverse;

    #editor-nav-menu {
      position: relative;
      padding-left: 0;
      text-align: center;

      > ul {
        ul {
          padding-left: 0;
          border: none;
        }
      }

      .dropdown.active {
        box-shadow: 0 0 4px 4px inset #8888;

        .dropdown-name {
          font-weight: bold;
        }
      }
    }

    #body {
      min-height: unset;
    }
  }
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .save-rich-text {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    > * {
      margin: 10px;
    }

    .save-rich-text-btn {
      justify-content: center;
    }
  }
}
