extends /views/templates/frontend-base.pug

append styles
    link(href="/assets/css/pages/inventory/inventory.css" rel="stylesheet")
append scripts
    script(src="/assets/js/collapsible.js" defer)

block body
    section 
        h1 #{data.title}
        p #{data.description}
        div(class="container")
            h2 Novelties
            div(class="collapse-menu")
                each category in data.novelties
                    +collapsible-sales(category)
        div(class="container")
            h2 Board Games
            button(type="button" class="collapsible-button") Rental Sheet
            div(class='collapsible-content')
                iframe(src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTAf40Dw90DJ2YdZM7UKSYMj5JkIejvIrP-RI1F2jKw6iKaGjNrvNHSKU9QDZx9x-cOlkpmO8V78wno/pubhtml?widget=true&amp;headers=false", frameborder="0") 
                //- <iframe style="height: 800px; width: 100%; border: none; overflow: hidden;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTAf40Dw90DJ2YdZM7UKSYMj5JkIejvIrP-RI1F2jKw6iKaGjNrvNHSKU9QDZx9x-cOlkpmO8V78wno/pubhtml?widget=true&amp;headers=false"></iframe>
        div(class="container")
            h2 Stationary
            div(class="collapse-menu")
                each category in data.stationary
                    +collapsible-sales(category)
