extends /views/templates/frontend-base.pug

append styles
    link(href="/assets/css/pages/inventory/inventory.css" rel="stylesheet")
append scripts
    script(src="/assets/js/collapsible.js" defer)

block body
    section 
        h1 #{data.title}
        p #{data.description}

        each section in data.sections
            div(class="container")
                h2 #{section.section}
                if !section.isBoardGames
                    div(class="collapse-menu")
                        each category in section.subsections 
                            +collapsible-sales(category)
                else 
                    button(type="button" class="collapsible-button") Live Rental Sheet
                    div(class='collapsible-content')
                        iframe(src=`${section.rentalSheetLink}`, frameborder="0") 
