extends /views/templates/frontend-base.pug

append styles
    link(href="/assets/css/pages/inventory/item.css" rel="stylesheet")

block body
    section 
        div
            h1 #{data.item}
            h2 #{data.price}
            p #{data.description}
        div 
            img(src=data.image, alt="item image")