@import "../util/_sass-mixins";

.banner-container {
  height: 400px;
  position: relative;
  overflow: hidden;

  background-size: cover;
  background-position: center;

  @include tablet-down {
    height: 300px;
  }

  .overlay-filter {
    position: absolute;
    width: calc(100% + 200px);
    margin-left: -100px;
    box-shadow: 0 0 8px 0 #8888 inset;
    height: 100%;
  }

  .banner-title {
    position: absolute;
    font-size: 3.5em;
    color: white;
    width: 100%;
    text-align: center;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
  }

  &.pink .overlay-filter {
    background-color: var(--mathsoc-pink);
    opacity: 0.5;
  }

  &.grey .overlay-filter {
    background-color: #444;
    opacity: 0.5;
  }

  &.dark-grey .overlay-filter {
    background-color: #444;
    opacity: 0.5;
  }

  &.small {
    height: 200px;
  }

  &.full {
    height: 700px;
    background-size: cover;
    width: 100%;
  }
}
