#exams-table {
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
  border-collapse: collapse;

  @media only screen and (max-width: 980px) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  @mixin match-filters($filter-classes) {
    tbody {
      tr:not(#{$filter-classes}) {
        display: none;
      }
      tr#{$filter-classes} {
        display: table-row;
      }
    }
  }

  &.filtered-dept:not(.filtered-code) {
    @include match-filters(".dept-match");
  }

  &.filtered-code:not(.filtered-dept) {
    @include match-filters(".code-match");
  }

  &.filtered-code.filtered-dept {
    @include match-filters(".dept-match.code-match");
  }

  .exam-course {
    width: 12.5%;
  }
  .exam-offering {
    width: 20%;
  }
  .exam-type {
    width: 20%;
  }

  .exam-actions,
  .solution-actions {
    > :hover {
      color: var(--mathsoc-pink);
      transition: 0.3s;
      cursor: pointer;
    }

    .active {
      color: var(--mathsoc-pink);
      border-bottom: 2px solid var(--mathsoc-pink);
    }

    &.hidden {
      opacity: 0;
    }
  }

  td,
  th {
    text-transform: uppercase;
    font-size: 0.9em;
  }

  thead tr {
    background-color: var(--mathsoc-pink);
    color: white;
    font-weight: bold;

    th {
      padding: 1em;
      font-weight: 400;
    }
  }

  tbody {
    td {
      padding: 0.5em 1em;
    }

    tr {
      &:nth-child(2n + 1) {
        background-color: var(--background-hover);

        a {
          background-color: white;

          &:hover,
          &:focus-visible {
            background-color: var(--background-hover);
          }
        }
      }

      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  a {
    color: var(--mathsoc-pink);
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: 0.15s;
    text-align: center;
    text-decoration: none;

    display: none;
    &.active {
      display: block;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--background-hover);
    }
  }

  #hidden-row {
    display: none;
  }
}
