.person-card {
  margin: auto;
  margin-bottom: 0;

  min-width: 200px;
  text-align: center;

  span {
    display: block;
    line-height: 1.5em;
  }

  .role,
  .email {
    font-style: italic;
    font-size: 0.8em;
    max-width: 200px;
  }

  img {
    max-width: 100%;
    max-height: 175px;
    margin-bottom: 12px;
    max-width: 180px;
  }

  &.default {
    img {
      max-height: 150px;
      margin-bottom: 0;
    }
  }
}
