.pink-button-link {
  margin: auto;
}

.pink-button {
  margin: 1em auto;
  text-align: center;
  min-width: 250px;
  max-height: 60px;
  padding: 1em 2em;
  background-color: var(--mathsoc-pink);
  border: none;
  color: white;
  font-family: var(--primary-font);
  cursor: pointer;
  transition: background-color 0.15s;

  &:hover {
    background-color: var(--mathsoc-pink-2);
  }
}
