.pink-button-link {
  margin: auto;
}

.pink-button {
  margin: 1em auto;
  text-align: center;
  min-width: 250px;
  max-height: 60px;
  padding: 1em 2em;
  background-color: var(--mathsoc-pink);
  // border-radius: 24px;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  text-decoration: none;
  color: white;
  font-family: var(--primary-font);
  cursor: pointer;
  transition: background-color 0.15s;
  border: 2px solid var(--mathsoc-pink);

  &:visited {
    color: white;
  }

  &:hover,
  &:focus-visible {
    background-color: white;
    color: var(--mathsoc-pink);
  }
}
