.toast {
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  display: flex;
  justify-content: center;

  transform: translateY(100%);
  opacity: 0;

  z-index: 100;

  transition: opacity 500ms, transform 500ms;

  &.visible {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .toast-body {
    margin: 28px;
    padding: 20px 24px;
    border-radius: 4px;
    width: 20%;

    &.success {
      background-color: var(--mathsoc-pink-2);
      color: white;
    }

    &.fail {
      background-color: var(--mathsoc-pink-4);
      color: black;
    }

    .toast-header {
      font-size: 20px;
      font-weight: bold;
      font-family: var(--title-font);
    }

    .toast-message {
      font-size: 14px;
      font-family: var(--primary-font);
    }
  }
}
