include /views/mixins/components.pug

doctype html
html(lang="en")
  include /views/partials/header.pug
  link(href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.9.2/jsoneditor.min.css" rel="stylesheet" type="text/css")
  link(href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet")
  script(src="https://kit.fontawesome.com/c02fb43ad1.js" crossorigin="anonymous")
  script(src="/assets/js/admin/toast.js")
  link(href="/assets/css/admin/admin.css" rel="stylesheet")
  
  body 
    include /views/partials/navbar.pug
    +toast()
    h1(id="admin-title") MathSoc Admin
    div(id="sections-menu")
      ul
        each section in adminNavSections
          li
            - const currentPageClass = ref.replace(/\?.*/, '') === section.ref.replace(/\?.*/, '') ? " active" : "";
            a(class="section-button" + currentPageClass href=section.ref)=section.title
    block body
  footer(id="footer")
    +pink-button("Return to Frontend", "frontend-return", "/")

