include /views/mixins/components.pug

doctype html
html(lang="en")
    include /views/partials/header.pug
    body 
        include /views/partials/navbar.pug
        div(class="body")
          block body
        div(class="footer")
          button Return to Frontend

append styles 
    link(href="/assets/css/cms.css" rel="stylesheet")
