include /views/mixins/components.pug

doctype html
html(lang="en")
    include ../partials/header.pug
    body 
        include ../partials/navbar.pug
        div(id="body")
          block body
        include ../partials/footer.pug
