extends /views/templates/admin-base.pug

append styles
  link(href="/assets/css/pages/admin/get-involved/volunteer.css" rel="stylesheet")

append scripts
  script(src="/assets/js/editor.js")
  script(src="/assets/js/editor-loader.js" type="module")
block body
  - const sourceKeys = Object.keys(dataEndpoints);

  ul(id="data-endpoints")
    each key of sourceKeys
      span=dataEndpoints[key]

  div(id="editors-container")
