@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

// Colours
:root {
  --background-colour: #fff;
  --background-hover: #f1f1f1;
  --mathsoc-pink: #c60078;
  --mathsoc-pink-2: #df2498;
  --mathsoc-pink-3: #ff63aa;
  --mathsoc-pink-4: #ffbeef;
  --mathsoc-grey: #212934;
  --mathsoc-grey-2: #4a4e57;
  --accent-colour-1: var(--mathsoc-pink);
  --accent-colour-2: var(--mathsoc-grey);
  --text-color: var(--mathsoc-grey-2);
  --inverted-text-color: #ffffff;
}

// Fonts
:root {
  --primary-font: 'Open Sans', Verdana, sans-serif;
  --title-font: 'Zilla Slab', 'Open Sans', Verdana, sans-serif;
}

// Measurements
:root {
  --content-width: 850px;
}
