@import "../../util/_sass-mixins";
@import "../../util/variables";
@import "../../mixins/collapsible";

section {
    max-width: var(--content-width);
    margin: 30px auto;
    position: relative;
    padding-top: 0;
}

.form-link {
    text-decoration: none;
}

h1 {
    margin-top: 1.5rem
}

h2 {
    margin-bottom: 0rem;
    margin-top: 1rem;
    font-size: 40px;
}

h3 {
    margin-bottom: -.5rem;
    margin-top: 1rem;
}
