@import "../../mixins/_banner-image.scss";
@import "../../mixins/exam-bank-table";

#content {
  max-width: var(--content-width);
  margin: auto;
  padding: 0 2em;
}

#exam-bank-searchbar {
  margin: auto;
  text-align: center;
  padding: 1em;

  #exams-search-label {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em 0 1em;
  }

  input {
    width: 80%;
    min-width: 200px;
    font-size: 1.5em;
    text-align: center;

    &::placeholder {
      opacity: 1;
      color: #999;
    }
  }
}

h2 {
  margin: 0.25em 0;
}
