@import "../../util/_sass-mixins";
@import "../../util/variables";
@import "../../mixins/collapsible";
@import "../../mixins/pink-button";

section {
  max-width: var(--content-width);
  margin: 30px auto;
  position: relative;
  padding-top: 0;
}

.form-link {
  text-decoration: none;
}

.pink-button-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;

  .pink-button {
    flex: 1 1;
    margin: 0;
  }
}
