:root {
  --background-colour: rgba(255, 255, 255, 0.877);
  --accent-colour-1: #000000;
}

body {
  background-color: var(--background-colour);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body p {
  color: var(--accent-colour-1);

  
}

.para {
  color: rgb(0, 0, 0);
  margin: 10px;
  font-size: large;
  

}

.form {
  position: relative;
  top: -44px;
  right: -44%;
  text-decoration: underline;
  color: rgb(8, 8, 8);
}

.lok{
  background-color: rgba(255, 255, 255, 0.466);
  width: 100%;
  display: flex;
}

.new{
  background-color: rgb(255, 255, 255);
  width: 27%;
}

.lock{
  display: flex;
  justify-content: end;
  
}

.locker{

  margin: 10px;
  height: 200px;
  border-radius: 20px;
}

.head-lock{
  background-color: rgba(158, 98, 123, 0.466);

  display: flex;
  justify-content: center;
}

.Math-soc{
  position: relative;
  top: -40px;
  right: 40px;
}



.shelf{
  margin: 10px;
  height: 400px;
  border-radius: 20px;
}

.Games{
  display: grid;
  grid-template-columns: auto auto auto 200px ;
}

.try{
  margin: 10px;
  width: 50%;
  
}

.Cnd{

  height: 400px;
}

#more{
  display: none;
}

#Btn{
  border: none;
  background-color: white;
}

.MCimg{
  display: flex;
  margin: 10px;
}

.MCpara{
  width: 27%;
  margin: 10px;
}

.COMFY{
  width: 32%;
  border-radius: 20px;
}



