//- Types: pink, grey, dark-grey, small
mixin banner-image(src, types=[], title="") 
  div(class="banner-container " + types.join(" ") style="background-image: url(" + src + ")")
    div(class="overlay-filter")
    if title != ""
      h1(class="banner-title") #{title}
        block
