mixin carousel(images)
  div(class="carousel")
    div(class="slideshow-container")
      each image in images 
        div(class="mySlides fade")
          img(src=image style="width:100%; height:100%;")
      a(class="prev") &#10094;
      a(class="next") &#10095;
    br
    div(style="text-align:center")
      each val, index in images
        - var ind = index + 1
        span(class="dot" data-index=ind)
