mixin collapsible-sales(category)
    button(type="button" class="collapsible-button") #{category.category}
    div(class="collapsible-content")
         each item in category.items
            a
                div(class="item")
                    img(class="item-img" src=item.image)
                    p #{item.item}
                    p #{item.price}