include ./banner-image.pug
include ./collapsible.pug
include ./collapsible-sales.pug
include ./exam-bank-table.pug
include ./instagram-embed.pug
include ./person-card.pug
include ./pink-button.pug
include ./section.pug
include ./toast-notification.pug