@import "mixins/_pink-button";

.container {
    width: 100%;

    .cards {
        margin:auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-items: center;
        border-radius: 20px;
        gap: 32px;

        @media (max-width: 1312px) {
              flex-direction: column;
        }
    }

    .slideshow-container {
        img {
            margin-top: -20%;
        }
    }

    .calendar-wrapper {
        $padding: 40px;
        width: calc(100% - 2 * $padding);
        height: inherit;
        background-color: var(--accent-colour-1);
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;

        h1, p {
          color: #fff;
        }

        .calendar {
            width: 800px;
            height: 600px;
            border: 0;

            @media (max-width: 1312px) {
                flex-direction: column;
                width: 90%;
                height: 600px;
          }
        }
    }

    .instagram {
        $padding: 40px;
        $margin-top: 100px;
        margin: auto;
        height: inherit;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: space-around;
        width: 50%;
        
        @media (max-width: 1312px) {
            width: 100%;
        }

        .col {
            margin-left: 50px;
            margin-right: 50px;
            width: 30%;

            @media (max-width: 1312px) {
                width: 40%;
                margin:auto;
            }

            .row {
                display: flex;
                flex-direction: column;

                button {
                    padding: 20px;
                    background-color: var(--accent-colour-1);
                    color: white;    
                    margin: 15px;
                    transition: 0.3s;
                    border-radius: 10px;
                    font-weight: 400;
                }

                button:hover {
                    background-color: var(--mathsoc-pink-4);
                    transition: 0.3s;
                    color: black;
                }

                .socials {
                    display: flex;
                    flex-direction: row;
                }
            }
        }


        @media (max-width: 1312px) {
            flex-direction: column;
        }

    }

}

.flip-card {
    background-color: transparent;
    border-radius: 20px;
    width: 300px;

    $caption-height: 3em;
    height: calc(300px + $caption-height);
    border: 1px solid #f1f1f1;
    perspective: 1000px; 

    .flip-card-inner {
        position: relative;
        width: 100%;
        border-radius: 20px;
        height: calc(100% - $caption-height);
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;

    }

    .flip-card-image {
        width: 300px;
        height: 300px;
        border-radius: 20px;
    }
}

.flip-card:hover {
    .flip-card-inner {
        transform: rotateY(180deg);
    }
}

.flip-card-front, .flip-card-back {
    position: absolute;
    border-radius: 20px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

}

.flip-card-front {
    background-color: #bbb;
    color: black;
    width: 100%;
    height: 100%;
}

.flip-card-back {
    background-color: pink;
    $padding: 20px;
    padding: $padding;
    font-size: 20px;
    width: calc(100% - 2 * $padding);
    height: calc(100% - 2 * $padding);
    color: black;
    transform: rotateY(180deg);
}
