@import "../util/sass-mixins";

#home-container {
  text-align: center;
  background-color: var(--mathsoc-pink);
  min-height: 110vh;

  #banner-container {
    position: absolute;
    width: 100%;
    top: 0;

    #banner {
      width: 100%;
    }

    #banner-gradient {
      background-image: linear-gradient(0deg, var(--mathsoc-pink), #c6007880);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }

  #home-content {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--content-width);
    margin: auto;

    gap: 45px;
    z-index: 1;
    position: relative;

    color: var(--inverted-text-color);

    .section-head {
      font-size: 2.5em;
    }

    #logo {
      display: block;
      text-align: center;
      width: 100%;
      margin-top: 125px;
    }

    .homepage-buttons,
    .social-buttons {
      display: flex;
      gap: 60px;
      text-decoration: none;

      @include tablet-down {
        flex-direction: column;
        gap: 10px;
      }
    }

    .homepage-buttons {
      .homepage-button {
        padding: 16px 60px;
        color: var(--inverted-text-color);
        border: 1px solid var(--inverted-text-color);
        text-decoration: none;
        transition: 0.15s linear;

        &:hover,
        &:focus {
          background-color: white;
          color: var(--mathsoc-pink);
        }
      }
    }

    .social-buttons {
      display: flex;

      .social-button {
        color: var(--inverted-text-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 5px;

        .social-icon {
          margin-bottom: 10px;
        }
      }
    }
  }
}

#navbar {
  position: absolute;
  z-index: 2;

  #inner-navbar {
    max-width: calc(100% - 40px);

    .nav-logo-container {
      display: none;
    }

    .dropdown-button {
      color: var(--inverted-text-color);

      &:hover,
      &:focus-visible {
        color: var(--mathsoc-pink);
      }
    }
  }
}

body {
  background-color: var(--mathsoc-pink);
}

#footer {
  background-image: none;
}
