@import "../mixins/_carousel";
@import "../mixins/_flip-card";
@import "../mixins/_pink-button";
@import "../util/sass-mixins";

.top {
  .section-mixin-internals {
    max-width: var(--content-width);
    padding: 0 40px;
    margin: auto;
  }
}

.cards {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  gap: 32px;

  @media (max-width: 1312px) {
    flex-direction: column;
  }
}

.slideshow-container {
  img {
    margin-top: -20%;
  }
}

.instagram {
  width: var(--content-width);
  $padding: 40px;
  $margin-top: 100px;
  margin: auto;
  height: inherit;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  max-width: var(--content-width);

  @media (max-width: 1312px) {
    width: 100%;
  }

  #instagram-grid {
    display: flex;
    flex-direction: row;

    @include tablet-down {
      flex-direction: column;
    }
  }

  #social-callout {
    font-size: 1.5em;
  }

  #social-buttons {
    display: flex;
    flex-direction: column;
  }
}
