@import '../util/_sass-mixins';
@import '../util/variables';
@import '../mixins/banner-image';

section {
    max-width: var(--content-width);
    margin: 30px auto;

    .subheader {
        font-family: var(--primary-font);
        font-size: 1.4em;
    }  

    h1 {
        font-family: var(--title-font);
        font-size: 3rem;
        color: var(--accent-colour-1);
    }

    h2 {
        font-family: var(--title-font);
        font-size: 1.4em;
    }

    li {
        margin-bottom: 5px;
    }
}


