extends /views/templates/frontend-base.pug

block title 
    title MathSoc Home

append styles
    link(href='/assets/css/pages/homepage.css' rel="stylesheet")

append scripts
    script(src="/assets/js/carousel.js" defer)
    script(src="https://kit.fontawesome.com/c02fb43ad1.js" crossorigin="anonymous")

block body
    div(id="home-container")
        div(id="banner-container")
            img(src="/assets/img/banners/mathsoc-wall.jpeg" alt="" id="banner")
            div(id="banner-gradient")
        div(id="home-content")
            img(src="/assets/img/icons/horizontal-logo-white.svg" alt="Mathsoc Logo" id="logo")
            div(class="homepage-buttons")
                a(class="homepage-button" href="/get-involved/volunteer") Get Involved
                a(class="homepage-button" href="/resources/exam-bank") Exam Bank
            h1(class="section-head") Hear about our upcoming events!
            div(class="social-buttons")
                a(class="social-button" href="/resources/discord-access")
                    i(class="fa-brands fa-discord social-icon fa-3x") 
                    span Discord
                a(class="social-button" href="https://www.instagram.com/uwmathsoc/")
                    i(class="fa fa-instagram social-icon fa-3x") 
                    span Instagram

