doctype html
html(lang="en")
    include ../partials/header.pug
    body
        
        div.top 
            img.Cnd(src="https://mathsoc.uwaterloo.ca/wp-content/uploads/CnD_Logo_transparent_Final-1.jpg", alt="")
            span#dots ...
            button#Btn 
            span#more 
        div.lok
            img.locker(src="https://mathsoc.uwaterloo.ca/wp-content/uploads/lockers-800x300.jpg", alt="Locker")     
        a.form(href="https://docs.google.com/forms/d/e/1FAIpQLSd8bdQ7KmypjJnuZQPxZc-yHiSY3_XwMxfX7LavgL8e9rHRGQ/viewform") 
        img.Math-soc(src="https://mathsoc.uwaterloo.ca/wp-content/uploads/2020/05/mathsoc_logo.png", alt="") 
        div.Games  
            img.shelf(src="https://mathsoc.uwaterloo.ca/wp-content/uploads/D5FE0017-7056-4481-A7E0-50A27D82AE1D-1024x768.jpg"  alt="")
            div.try
                script(src="/assets/js/index.js") 
        div.MCimg
            img.COMFY(src="https://mathsoc.uwaterloo.ca/wp-content/uploads/sleeping_at_desk_man_qylhq3-600x337.jpg", alt="")