extends /views/templates/admin-base.pug

append styles 
  link(href="/assets/css/admin/generic-editor.css" rel="stylesheet")

append scripts
  script(src="/assets/js/admin/generic-editor.tsx.js" defer)

block body
  div(id="jsoneditor" data-source=editorSource data-name=editorName)
