extends /views/templates/admin-base.pug

append styles
  link(href="/assets/css/pages/wellness.css" rel="stylesheet")

block body
  h1 Home
  p This is where we would customize the homepage and any sitewide data.
