extends /views/templates/admin-base.pug

append styles
    link(href="/assets/css/admin/upload-exam.css" rel="stylesheet")

append scripts 
    script(src="/assets/js/admin/upload-exam.js" defer)

block body
    div(id="body")
        h1 Upload Exam
        p Fill out this form to upload a new exam 

        form(id="exam-upload-form")
            h4 Course Name
            input(name="course-name" type="text" class="upload-form-input" placeholder="CS, MATH, SCI, etc")
            h4 Course Code (XX)
            input(name="course-code" type="number" placeholder="241" class="upload-form-input")
            h4 Offering Term
            select(name="offering-term-select" class="upload-form-input upload-form-input-select")
                option(value="Winter") Winter (January - April)
                option(value="Spring") Spring (May - August)
                option(value="Fall") Fall (September - December)
            h4 Offering Year
            select(name="offering-year-select" class="upload-form-input upload-form-input-select")
            h4 Exam Type
            select(name="exam-type" class="upload-form-input upload-form-input-select")
                option(value="Final") Final
                option(value="Midterm") Midterm
                option(value="Test") Test
            h4 Exam File
            input(name="exam-file" type="file" class="exam-file-input")
            h4 Solution File
            input(name="solution-file" type="file" class="solution-file-input")
            p Note that you must include either of the exam or solution files (or both). 

            button(type="button" class="upload-btn" id="upload-btn") Upload Exam
