@import "../../util/_sass-mixins";
@import "../../util/variables";
@import "../../mixins/banner-image";

section {
  max-width: var(--content-width);
  margin: 30px auto;
  padding-left: 0;
  position: relative;

  .stepper {
    margin: 50px 30px 30px 0;
    --size: 3.5rem;
    --size-stepper-item: 4rem;

    .stepper_item {
      margin: 0;
      position: relative;
      display: flex;
      gap: 1rem;
      padding-bottom: 2rem;
    }

    .stepper_item::before {
      content: "";
      position: relative;
      z-index: 1;
      flex: 0 0 var(--size);
      height: var(--size);
      border-radius: 50%;
      background-color: var(--mathsoc-grey-2);
      pointer-events: all;
      transition: all 0.25s ease-out;
      background-image: var(--icon);
      background-size: 2rem;
      background-repeat: no-repeat;
      background-position: bottom 12px right 12px;
      border: 4px solid #222;
    }

    .stepper_item:hover {
      &::before {
        background-color: var(--mathsoc-pink-2);
        transition: all 0.25s ease-in;
      }

      .stepper_title {
        color: var(--mathsoc-pink-2);
        transition: all 0.25s ease-in;
      }
    }

    .stepper_item:not(:last-child):after {
      content: "";
      position: absolute;
      width: 0.5px;
      background-color: var(--mathsoc-grey);
      transform: translateX(calc(var(--size-stepper-item) / 2));
      top: calc(var(--size));
      bottom: 0;
    }

    .stepper_content {
      display: inline-block;
    }

    .stepper_title {
      margin: 0.5rem 0 0 0;
      display: block;
      color: var(--mathsoc-grey);
      pointer-events: all;
      transition: all 0.25s ease-out;
    }
  }

  h1 {
    color: var(--mathsoc-grey);
  }

  .community_link {
    text-decoration: none;
  }
}
