.navbar {
  background-color: var(--mathsoc-pink);
  color: white;

  .items .dropdown-button {
    color: white;

    &:focus, &:hover, &:active, &:focus-within {
      color: white
    }
  }

  .nav-logo {
    &#white-logo {
      display: block;
    }

    &#pink-logo {
      display: none;
    }
  }

  .items .dropdown {
    transition: 0.15s;

    &:hover, &:focus, &:active, &:focus-within {
      background-color: white;
    }
  }
}

.body {
  width: var(--content-width);
  margin: auto;
}
