.footer {
    display: block;
    $container-side-padding: 25px;
    min-width: calc(100% - 2 * $container-side-padding);
    padding: 0 $container-side-padding;
    overflow: hidden;
    position: relative;
    left: 0;
    bottom: 0;
    background-image: url("/assets/img/footer/m3-edited.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    min-height: 333px;
    flex-direction: row;

    @media (max-width: 768px) {
        padding-bottom: 30px;
        flex-direction: column;
    }

    .section {
        width: 25%;
        padding: 0 20px;
        color: white;
        margin-top: 50px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            width: calc(100% - 2 * $container-side-padding);
            text-align: center;

            &.blank {
                display: none;
            }
        }

        p {
            color: white;
        }

        p { 
          color: white;          
        }

        .socials {
            width: min-content;
            margin: 20px auto 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;

            filter: invert(100%);

            a {
                margin-left: 8px;
            }

            @media (max-width: 768px) {
                grid-auto-flow: row;
                grid-template-columns: 1fr 1fr 1fr 1fr;

                a {
                    margin: 0;
                }
            }
        }
    }

    .social-section {
        text-align: center;
    }
}
