@import 'util/colours';
@import 'util/fonts';

body {
  background-color: var(--background-colour);
  font-family: var(--primary-font);
  margin: 0;
}

h1 {
  font-family: var(--title-font);
}

p {
  color: var(--text-color);
}

a,
a:hover,
a:visited {
  color: var(--mathsoc-pink);
}

section {
  padding-top: 30px;
}

section:last-child {
  padding-bottom: 30px;
}

section.pink {
  padding: 40px;
}
