@import 'util/_variables';

body {
  background-color: var(--background-colour);
  font-family: var(--primary-font);
  margin: 0;
}

h1 {
  font-family: var(--title-font);
}

p {
  color: var(--text-color);
  overflow-wrap: break-word;
}

a,
a:hover,
a:visited {
  color: var(--mathsoc-pink);
}

// Reset buttons to not use default appearance
button {
  appearance: none;
  outline: none;
  height: unset;
  width: unset;
  background: none;
  border: none;
  font-size: inherit;
  font-family: var(--primary-font);
  color: var(--text-color);
}

section {
  margin: 30px auto;
  padding: 24px;
}

section:last-child {
  padding-bottom: 30px;
}

section.pink {
  padding: 40px;
}
