@import "util/_sass-mixins";

#navbar {
  min-width: 100%;
  overflow: visible;
  font-size: 14px;
  position: relative;
  font-weight: 300;

  #inner-navbar {
    max-width: calc(var(--content-width) + 120px);
    position: relative;
    margin: auto;
  }

  .nav-logo {
    height: 75px;
    width: 200px;

    &#white-logo {
      display: none;
    }
  }

  .items {
    position: absolute;
    color: var(--mathsoc-pink);
    top: 0;
    right: 0;
    margin: 0;
    padding-left: 0;
    height: 100%;
    color: var(--mathsoc-pink);

    @include tablet-down {
      display: none;
    }

    .dropdown {
      position: relative;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      color: var(--mathsoc-pink);
      margin: 0 4px;
      height: 100%;

      $vertical-padding: 28px;

      .dropdown-button {
        padding: $vertical-padding 6px;
        text-transform: uppercase;
        font-weight: 300;
      }
      .dropdown:hover {
        color: var(--accent-colour-1);
        background-color: black;
      }

      > a {
        text-decoration: none;
        color: var(--text-color);
      }

      .dropdown-content {
        &:hover,
        &:focus,
        // :focus triggered by keyboard navigation of navbar
        &:focus-within,
        &:active {
          display: block;
          visibility: visible; // visibility settings used by accessible screen navigation with keyboard
        }
      }

      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        .dropdown-button {
          color: var(--mathsoc-pink);
          background-color: white;
        }

        .dropdown-content {
          display: block;
          visibility: visible;
        }
      }

      .dropdown-button {
        transition: color 0.2s ease;
      }

      .dropdown-content {
        display: none;
        visibility: hidden;
        position: absolute;
        text-transform: uppercase;
        font-size: 0.9em;
        color: black;
        text-align: center;
        min-width: 160px;
        z-index: 10;
        top: 60px;
        background-color: white;
        border-style: solid none none none;
        border-color: var(--accent-colour-1);
        box-shadow: 0 0 4px 0 #8888;

        transition: 0.3s ease;

        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        a:hover,
        a:focus {
          color: var(--mathsoc-pink);
          background-color: #f1f1f1;
        }
      }
    }
  }

  #mobile-menu-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px;
    height: 80px;

    display: none;

    background: none;
    border: none;

    cursor: pointer;

    img {
      height: 20px;
    }

    @include tablet-down {
      display: block;
    }
  }
}

#mobile-nav {
  display: none;
  max-height: 0;
  transition: 0.35s;
  overflow: hidden;
}

@include tablet-down {
  #mobile-nav {
    display: block;

    font-weight: 300;
    text-transform: uppercase;

    .items {
      background-color: var(--background-colour);
      visibility: hidden;

      margin: 0;
      padding-left: 0;
      list-style: none;

      .dropdown {
        background-color: var(--background-colour);
        color: var(--text-colour);

        &:focus {
          background-color: var(--background-hover);
        }

        a,
        a:link,
        a:visited {
          color: var(--text-colour);
          text-decoration: none;
        }

        a:hover,
        a:focus {
          .dropdown-button {
            background-color: var(--background-hover);
          }
        }

        .dropdown-button {
          padding: 1em;
          transition: 0.15s;
          cursor: pointer;

          font-weight: 300;
          text-transform: uppercase;

          width: 100%;
          text-align: left;

          &:focus {
            background-color: var(--background-hover);
          }
        }

        .dropdown-content {
          margin: 0;
          max-height: 0;
          transition: 0.25s;
          overflow: hidden;
          visibility: hidden;
          list-style-type: none;
          padding-left: 0;

          .sub-button {
            display: flex;
            padding: 0;

            a {
              padding: 1em;
              padding-left: 3em;
              width: calc(100% - 2em);

              &:focus {
                background-color: var(--background-hover);
              }
            }
          }
        }
      }
    }

    &.active {
      .items {
        visibility: visible;

        .dropdown.active {
          .dropdown-button {
            color: var(--background-colour);
            background-color: var(--accent-colour-1);
          }

          padding-bottom: 0;

          .dropdown-content {
            height: unset;
            visibility: visible;
          }
        }
      }
    }
  }
}

.skip-to-main-content {
  position: absolute;
  top: -40px;
  left: 0;
  background: white;
  padding: 8px;
  z-index: 100;
  transition: top 0.3s ease;

  &:focus {
    top: 0;
  }
}

#navbar .items .dropdown:hover .dropdown-button,
#navbar .items .dropdown:focus .dropdown-button,
#navbar .items .dropdown:focus-within .dropdown-button,
#navbar .items .dropdown:active .dropdown-button {
  color: var(--mathsoc-pink) !important;
}
