#execs-list {
  padding-left: 12px;
  width: 100%;

  tr {
    background-color: var(--background-hover);
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;

    .role {
      font-weight: bold;
      margin-right: 1em;

      text-align: left;
      padding: 0 1em;
    }
  }

  input {
    background-color: var(--background-colour);
    height: 100%;
    $input-padding: 8px;
    padding: $input-padding;
    width: calc(100% - 2 * $input-padding);
  }
}

#update-container {
  text-align: center;
}
